.btn {
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
}

/*BUTTON STYLE*/
.btn--primary {
  background: #EF233C 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: left;
  font: normal normal 300 16px/24px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.btn--secondary {
  background: #6C6C6C 0% 0% no-repeat padding-box;
  color: var(--white);
}

.btn--tertiary {
  background: #B9B9B9 0% 0% no-repeat padding-box;
  color: var(--white);
}

.btn-img {
  width: 14px;
  height: 10px;
  background: transparent 0% 0% no-repeat padding-box;
}